.header {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ui-widget {
  font-size: 100% !important;
}
.ui-widget .ui-widget {
  font-size: 100% !important;
}

.content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.menu-left {
    width: 15%;
    float: left;
}

.inner-content {
    width: 65%;
    margin: 0 auto;
}