.header {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ui-widget {
  font-size: 100% !important;
}
.ui-widget .ui-widget {
  font-size: 100% !important;
}

.content {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.inner-content {
    width: 70%;
    margin: 0 auto;
}